---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Duneopedia"
	description="An unofficial guide for Dune: Spice Wars, updated for the End of Life patch."
>
	<section id="banner">
		<div class="content">
			<header>
				<h1>Duneopedia</h1>
			</header>
			<p>
				An unofficial guide for the game Dune: Spice Wars, updated for the End
				of Life patch.
			</p>
			<br />
			<p>
				Thank you to the
				<a href="https://dunespicewars.github.io/">v1 Duneopedia</a>
				creator Mr.Sandman
			</p>
		</div>
		<span class="image object">
			<video
				autoplay
				loop
				muted
				playsinline
				poster={`${import.meta.env.BASE_URL}images/site/duneLogoMobile.webp`}
				style="width:100%;height:auto;"
			>
				<source
					src={`${import.meta.env.BASE_URL}images/site/duneHand.webm`}
					type="video/webm"
				/>
			</video>
		</span>
	</section>
</Layout>
